<h1 id="page-title" style="margin-top: 100px;">Welcome to Cash Track</h1>
<h2 id="page-title">// The gold standard for budgeting //</h2>

<div class="row justify-content-center">
  <div class="form-group">
    <form action="/login" method="post">
      <p>Email: <input type="text" class="form-control" name="email"></p>
      <p>Password: <input type="password" class="form-control" name="password"></p>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
<p class="new-link">Don't have an account? <a href="/signup">Signup</a></p>
