<h1>Sign Up!</h1>
<h2>It's free and always will be</h2>

<form action="/signup" method="post">
  <p>Username: <input type="text" name="user[username]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input type="submit" value="Signup">
</form>
