<h2 id="page-title">Provide Bank Details</h2>
<div class="row justify-content-center">
  <div class="form-group">
    <form action="/banks" method="post">
      <p>Bank Name: <input type="text" name="bank[name]" class="form-control" required></p>
      <p>Bank Site: <input type="url" name="bank[url]" class="form-control" value="http://" placeholder="http://" required></p>
      <p>Checking Balance: <input type="number" min="0.00" step="0.01" class="form-control" name="bank[checking_balance]" placeholder="$" required></p>
      <p>Savings Balance: <input type="number" min="0.00" step="0.01" class="form-control" name="bank[savings_balance]" placeholder="$" required></p>
      <input type="submit" value="Add Bank">
    </form>
  </div>
</div>
