<h1>Add a Bank Account</h1>
<form action="/banks" method="post">
  <p>Bank Name: <input type="text" name="bank[name]"></p>
  <p>Checking Balance: <input type="text" name="bank[checking_balance]"></p>
  <p>Savings Balance: <input type="text" name="bank[savings_balance]"></p>
  <input type="submit" value="Add Bank">
</form>
