<h2 id="page-title">Edit Bill</h2>
<div class="row justify-content-center">
  <div class="form-group">
    <form action="/bills/<%= @bill.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <p>Provider: <input type="text" class="form-control" name="bill[provider]" value="<%= @bill.provider %>"></p>
      <p>Balance: <input type="number" class="form-control" min="0.00" step="0.01" name="bill[balance]" value="<%= @bill.balance %>"></p>
      <p>Due Date: <input type="date" class="form-control" name="bill[duedate]" value="<%= @bill.duedate %>"></p>
      <input type="submit" value="Edit Bill">
    </form>
  </div>
</div>
