<a href="/bills/new">Add Bill</a>
<h1>Current Bills</h1>
<% @user.bills.each do |bill| %>
  <p>Provider: <% bill.provider %></p>
  <p>Balance: <% bill.balance %></p>
  <p>Due: <% bill.duedate %></p>
  <a href="/bills/<%= bill.id %>/edit">Edit Bill</a>
<% end %>
