<h1>Add a new creditcard</h1>
<form action="/creditcards" method="post">
  <p>Card Name: <input type="text" name="card[name]"></p>
  <p>Intrest Rate: <input type="text" name="card[intrest_rate]"></p>
  <p>Balance: <input type="text" name="card[balance]"></p>
  <p>Credit: <input type="text" name="card[credit]"></p>
  <p>Minimum Payment Due: <input type="text" name="card[duedate]"></p>
  <input type="submit" value="Add Card">
</form>
