<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <% if logged_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/users/<%= current_user.slug %>">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/bills">Bills</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/banks">Banks</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/creditcards">Creditcards</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>    
    </nav>
    <% end %>
    <div class="flash">
      <% if flash[:warning] %>
        <h2 style="color: red"><%= flash[:warning] %></h2>
      <% elsif flash[:notice] %>
        <h2 style="color: green"><%= flash[:notice] %></h2>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
