<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="navbar">
      <% if logged_in? %>
        <a href="/bills/show">Bills</a>
        <a href="/banks/show">Banks</a>
        <a href="/creditcards/show">Creditcards</a>
        <a href="/logout">Logout</a>
      <% end %>
    </div>
    <div class="flash">
      <% if flash[:warning] %>
        <h2 style="color: red"><%= flash[:warning] %></h2>
      <% elsif flash[:notice] %>
        <h2 style="color: green"><%= flash[:notice] %></h2>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
